# Build tool-specific files
/.gradle/
/build/
/target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Operating system-specific files
.DS_Store
Thumbs.db

# Spring Tool Suite (STS) files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA-specific files
.idea/
*.iws
*.iml
*.ipr
/out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans IDE-specific files
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code-specific files
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# Sensitive and environment-specific files
/src/main/resources/application-*.properties
.env
/config/

# Editor-specific files
*.swp
*.swo

# Java-specific files
*.class
*.jar
*.war
*.ear

# Ignore backups and caches
*.bak
*.cache
