<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="/ekhonni-v2/styles.css">
</head>
<body>
<h1>Product List</h1>
<div class="product-container">
    <ul class="product-list">
        <li th:each="product : ${products}" class="product-card">
            <h3 th:text="${product.name}">Product Name</h3>
            <p th:text="'Description: ' + ${product.description}"></p>
            <p th:text="'Price: ' + ${product.price} + 'BDT' " ></p>
            <p th:text="'Category: ' + ${product.categoryName}"></p>
            <p th:text="'Category ID: ' + ${product.categoryId}"></p>

            <div>
                 <button class="checkout-button"
                    th:attr="data-product-name=${product.name}, data-product-id=${product.id}"
                    onclick="checkout(this)">
                Pay Now
            </button> 
            </div>
          
        </li>
    </ul>
</div>
<div class="pagination">
  
    <a th:if="${currentPage > 0}"
       th:href="@{/test/products(pageNo=${currentPage - 1})}"
       class="pagination-link">
        Previous
    </a>
    
    <a th:href="@{/test/products(pageNo=${currentPage + 1})}"
       class="pagination-link">
        Next
    </a>
</div>


<script src="/ekhonni-v2/scripts.js"></script>
</body>
</html>
